h1 {
			color: white;
			text-align: center;
		}
		
		li {
			color: white;
			text-align: center;
		}
		ul
	{
		color: white;
		text-align: center;
	}

		h4 {
			color: white;
			text-align: center;
		}

body {
	background: url(bash-161382_640.png);
	background-repeat: no-repeat;
	background-size: cover;
}