h1 {
			color: white;
			background-repeat: no-repeat;
/*			bordrer-color: black;
			border-width: 5px;
			border-style: solid;*/
			border: 1px solid white; 
		}

		li {
			color: black;
		}
		h4 {
			color: white;
		}

body {
	background: url(back.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
}