h1 {
			color: white;
			background-repeat: no-repeat;
/*			bordrer-color: black;
			border-width: 5px;
			border-style: solid;*/
			border: 1px solid white; 
		}
		.special {
			background: black;
			}
		li {
			color: black;
			
		}

		h4 {
			color: white;
		}

body {
	background: url(bash-161382_640.png);
	background-repeat: no-repeat;
	background-size: cover;
}